<h1>Capital Account</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%tot=0%>
<% @capital_types.each do |capital_type| %>
<% cap=0 %>
<% capital_type.capital_accounts.each do |c| %>
<%if c.tr_type=="Deposit"%>
<% cap=cap + c.amount%>
<%else%>
<% cap=cap - c.amount%>
<%end%>
<%end%>
<%tot = tot + cap%>
  <tr>
    <td><%= capital_type.name %></td>
    <td><%= capital_type.desc %></td>
    <td><%= cap%></td>
    <td><%= link_to 'Show', capital_type %></td>
    <td><%= link_to 'Edit', edit_capital_type_path(capital_type) %></td>
    <td><%= link_to 'Destroy', capital_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>


<!--This processes supplier trading account-->


 <tr>
    <td>Supplier Credit</td>
    <td>This shows Credit to the supplier</td>
    <td><%= @tr_supplier_sum %></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>


 <tr>
    <td>Debtors</td>
    <td>This shows Debtors </td>
    <td><%= @cr_customer_sum %></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>


<tr>
<td>Total:</td><td colspan=2><%=number_to_currency(tot-@tr_supplier_sum+@cr_customer_sum).html_safe%></td><tr>
</table>

<br />

<%= link_to 'New Capital type', new_capital_type_path %>
