<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @capital_type.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @capital_type.desc %>
</p>


<%= link_to 'Edit', edit_capital_type_path(@capital_type) %> |
<%= link_to 'Back', capital_types_path %>
