<h1>Listing items</h1>

<table class="zebra-striped">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Rate</th>
    <th>Unit</th>
    <th>Desc</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.id%></td>
    <td><%= item.name %></td>
    <td><%= item.rate %></td>
    <td><%= item.unit %></td>
    <td><%= item.desc %></td>
    <td><%= item.iclass.name %></td>
    <td><%= link_to content_tag(:span, '', :class => "ui-icon ui-icon-folder-open"), item, :title => "Show", :class => "ui-state-default ui-corner-all", :id => "no-border" %></td>
    <td><%= link_to content_tag(:span, '', :class => "ui-icon ui-icon-gear"), edit_item_path(item), :title => "Edit", :class => "ui-state-default ui-corner-all", :id => "no-border"  %></td>
    <td><%= link_to content_tag(:span, '', :class => "ui-icon ui-icon-trash"), item, :confirm => "Are you sure you?", :title => "Delete", :method => :delete, :class => "ui-state-default ui-corner-all", :id => "no-border"  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
